.right-section {
  padding: 0;
  direction: rtl;
  width: 100%;
  margin-right: 22%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
  margin-top: 3rem;
}
.logout-button {
  top: 10px;
  left: 10px;
  background-color: lightblue;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  width: 100%;
}

.form-container {
  margin-bottom: 1rem;
  padding: 0 10rem;
}

.bottom-information-text {
  text-align: center;
  font-size: 0.75rem;
  color: #7d7d7d;
}

.logout-button:hover {
  background-color: #ff1a1a;
}
.scrollable-content {
  flex-grow: 1;
  overflow-y: auto;
  justify-content: center;
  padding: 20px 0px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.content-item {
  padding: 10px;
  max-width: 100%;
  align-self: flex-start;
}

.user-message {
  align-self: flex-start;
  background-color: #f4f4f4;
  border-bottom: none;
  border-radius: 20px;
  padding: 10px;
  margin: 5px 0px;
}

.fake-response {
  background-color: white;
  align-self: flex-start;
  border-bottom: none;
  border-radius: 20px;
  padding: 10px;
  margin: 5px 0px;
}

.icon-2xl {
  stroke-width: 1.5;
  flex-shrink: 0;
  height: 2rem;
  width: 2rem;
}

.input-field {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: rgba(244, 244, 244, 1);
  border-radius: 26px;
  margin-top: 20px;
}

.input-field textarea {
  flex: 1;
  padding: 10px;
  margin: 0;
  border: none;
  background-color: transparent;
  font-size: 14px;
  outline: none;
  resize: none;
  overflow: hidden;
  max-height: 100px;
  min-height: 15px;
}

.input-field textarea::placeholder {
  color: #999;
}

.input-field button {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  border: none;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input-field button:hover {
  opacity: 0.7;
}

@media (max-width: 768px) {
  .right-section {
    width: 100%;
    margin-right: 0;
    padding: 10px;
  }
  .form-container {
    padding: 0 !important;
  }
  .message-container {
    padding: 0 !important;
  }
}
